/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --primary-color: #007bff;
    --panel-color: #FFF;
    --text-color: #000000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --bg-color: #ffffff;
    --card-bg-color: #f8f9fa;
    --table-bg-color: #ffffff;
    --table-border-color: #dee2e6;
    --shadow-color: rgba(0, 0, 0, 0.1);

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --primary-color: #ffffff;
    --panel-color: #242526;
    --text-color: #ffffff;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
    --bg-color: #121212;
    --card-bg-color: #5B5B5B;
    --table-bg-color: #2e2e2e;
    --table-border-color: #ffffff35;
    --table-row-bg-color: #3A3B3C;
    /* Warna latar belakang gelap untuk baris tabel */
    --table-row-stripe-color: #2e2e2e;
    /* Garis yang sedikit lebih gelap */
    --thead-bg-color: #454545;
    /* Warna latar belakang untuk thead */
    --thead-text-color: #636060;
    /* Warna teks untuk thead */
    --shadow-color: rgba(0, 0, 0, 0.5);
}

body.dark .table {
    background-color: var(--table-bg-color);
    border-color: var(--table-border-color);
}

body.dark .table th,
body.dark .table td {
    color: var(--text-color);
    border-color: var(--table-border-color);
}

body.dark .table thead {
    background-color: var(--thead-bg-color);
    color: var(--thead-text-color);
}

body.dark .table-striped tbody {
    background-color: var(--table-row-bg-color) !important;
}

body.dark .table-striped tbody tr {
    background-color: var(--table-row-bg-color) !important;
}

body.dark .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-row-stripe-color) !important;
}

body.dark .table-striped tbody tr td {
    background-color: inherit !important; /* Ensure td inherits tr background */
    color: var(--text-color) !important;
    border-color: var(--table-border-color) !important;
}

body.dark .card {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

/* New CSS for Excel Preview */

.excelPreview table {
    border-collapse: collapse;
    width: 100%;
}

.excelPreview th,
.excelPreview td {
    border: 1px solid var(--border-color);
    padding: 8px;
    font-size: 14px;
}

.excelPreview tr:nth-child(even) {
    background-color: var(--toggle-color);
}

.excelPreview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--box1-color);
    color: var(--title-icon-color);
}

body.dark .excelPreview table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--table-bg-color);
    border-color: var(--table-border-color);
}

body.dark .excelPreview th,
body.dark .excelPreview td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    font-size: 14px;
    color: var(--text-color);
}

body.dark .excelPreview tr:nth-child(even) {
    background-color: var(--table-row-stripe-color);
}

body.dark .excelPreview tr:nth-child(odd) {
    background-color: var(--table-row-bg-color);
}

body.dark .excelPreview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--thead-bg-color);
    color: var(--thead-text-color);
}

body.dark .modal-dialog.modal-dialog-dark {
    background-color: var(--panel-color);
    box-shadow: 0 0 0.625rem var(--shadow-color);
  }
  
  body.dark .modal-content {
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
  }
  
  body.dark .modal-header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  body.dark .modal-body {
    background-color: var(--bg-color);
  }
  
  body.dark .modal-title {
    color: var(--text-color);
  }

.scrollable-table {
    max-height: 500px;
    overflow-y: auto;
    display: block;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
}

/* Width */
.scrollable-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table-responsive {
    border-radius: 3px;
}

.table {
    background-color: var(--table-bg-color);
    color: var(--text-color);
    border: 1px solid var(--table-border-color);
}

.table thead th {
    background-color: var(--table-bg-color);
    border-bottom: 2px solid var(--table-border-color);
    color: var(--text-color);
}



.text-primary {
    color: var(--primary-color) !important;
}

/* Track */
.scrollable-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollable-table::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scrollable-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card {
    background-color: var(--card-bg-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 13px 12px var(--shadow-color);
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.card h5 img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.custom-link {
    color: #0000ff;
    text-decoration: none;
}

.custom-link:hover {
    color: #0707b6;
    text-decoration: underline;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 17px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard .top {
        left: 0;
        width: 100%;
    }
}

.activity {
    margin-top: 20px;
}

.activity .title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.activity .title .uil-clock-three {
    margin-right: 10px;
}

.activity table {
    width: 100%;
    border-collapse: collapse;
}

.activity th,
.activity td {
    padding: 8px;
    border: 1px solid #ddd;
}

.activity th {
    background-color: #f2f2f2;
}

.activity th:first-child,
.activity td:first-child {
    border-left: none;
}

.activity th:last-child,
.activity td:last-child {
    border-right: none;
}

.activity tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.activity tbody tr:hover {
    background-color: #ddd;
}

.activity button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.activity .btn-primary {
    background-color: #007bff;
    color: #fff;
}

.activity .btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.activity .btn-primary:hover,
.activity .btn-danger:hover {
    opacity: 0.8;
}

/* CSS untuk menampilkan modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-icon-wrapper select {
    width: 100%;
    padding-right: 30px;
    /* Adjust the padding to make room for the icon */
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Make sure the icon does not block the dropdown interaction */
}

.bandingkan-container {
    margin: 20px;
}

.pcss3t input[type="radio"] {
    display: none;
}

.pcss3t label {
    cursor: pointer;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-right: 5px;
}

.pcss3t input[type="radio"]:checked+label {
    background: #007bff;
    color: #fff;
}

.pcss3t ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.pcss3t .tab-content {
    display: none;
}

#tab1:checked~ul .tab-content-first,
#tab2:checked~ul .tab-content-2,
#tab3:checked~ul .tab-content-3,
#tab4:checked~ul .tab-content-4,
#tab5:checked~ul .tab-content-last {
    display: block;
}